body {
  margin: 0;
  font-family: monospace;
  background: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  image-rendering: pixelated;
}

.weather-box {
  align-self: start;
  text-align: center;
  background: #333;
  border: 4px solid #555;
  padding: 20px;
  border-radius: 8px;
  height: calc(100vh - 88px);
  width: 100%;
  margin-top: 40px; /* равен высоте titlebar */
}
.box{
  align-self: center;
  justify-self: center;
  justify-content: center;
}

#icon {
  width: 48px;
  height: 48px;
  image-rendering: pixelated;
}

button {
  background: #720e0e;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.self-start {
  align-self: center;
  justify-self: start;
  margin-left: 20px;
  font-family: "Courier New";
  font-size: 20px;
}

/* Titlebar фиксируется сверху и занимает всю ширину */
.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #720e0e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 1000; /* Чтобы перекрывал всё остальное */
}

/* Кнопки остаются кликабельными */
.titlebar button {
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  color: white;
  font-size: 12px;
  width: 30px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

.titlebar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.titlebar button.close:hover {
  background-color: #e81123;
}

